@import './variables';
@import './fonts';

.fields {
    width: 100%;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 31%);
    grid-template-rows: repeat(3, 1fr);
    gap: 3.5%;
    .field {
        background-color: $secondary-color;
        border-radius: 6px;
        position: relative;
        padding-top: calc(100%);
        cursor: pointer;
        svg {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}