@import './variables';

nav {
    @include flex(space-between, center);
    margin-bottom: 40px;
    @include font(32,700);
    color: #fff;
    text-transform: uppercase;
    div {
        width: 32px;
        height: 32px;
        margin-left: 2em;
        cursor: pointer;
        svg {
            fill: #fff;
        }
    }
}