@import "variables";
@import "fonts";

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: $font;
  font-size: $base-font-size;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;

  @include flex(center, center);
}

svg {
  width: 100%;
  height: 100%;
  fill: #fff;
}